.icon{
  font-size: 28px;
  cursor: pointer;
}
.icon:hover{
  padding: 3px;
  border: 1px solid black;
  border-radius: 50%;
}
.avatar {
  border-radius: 50%;
}
.infosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}